In [2]:
import pandas as pd
import numpy as np
import math

# mldata binary

In [4]:
df=pd.read_csv('~/Desktop/da_project/csv_file/subway.csv',encoding = "ISO-8859-1")
df.head()

,bath,bed,latitude,logitude,price,size,year built,zipcode,distance to subway
0,1.0,3,40.801399,-73.954902,375000,NaN,1920,10026,0.300754
1,1.0,1,40.805369,-73.951677,279000,NaN,1900,10026,0.300514
2,1.0,3,40.804500,-73.958000,350000,NaN,1910,10026,0.199483
3,4.0,6,40.805301,-73.957099,1350000,3264.0,1901,10026,0.149062
4,4.0,5,40.802393,-73.957916,3995000,3333.0,1900,10026,0.174712

In [5]:
df2=pd.read_csv('~/Desktop/da_project/csv_file/crime.csv',encoding = "ISO-8859-1")
df3=df2.drop_duplicates()#.set_index('Zip')
df3.head()

      complaints    Zip
0           2675  10019
471         1056  10022
841         6536  10036
1000        5441  10001
1104        1800  10017

In [6]:
df=df.join(df3.set_index('Zip'), on='zipcode')
a=df.replace('--',np.nan).replace('No Data',np.nan).replace('Shared',np.nan).dropna()
a['zipcode']=a['zipcode'].apply(int).apply(str)
a.replace('nan',np.nan)
a['year built']=a['year built'].apply(int)
a['bed']=a['bed'].apply(int)
a['bath']=a['bath'].apply(int)
a['size']=a['size'].apply(int)
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3469 entries, 3 to 5503
Data columns (total 10 columns):
bath                  3469 non-null int64
bed                   3469 non-null int64
latitude              3469 non-null float64
logitude              3469 non-null float64
price                 3469 non-null int64
size                  3469 non-null int64
year built            3469 non-null int64
zipcode               3469 non-null object
distance to subway    3469 non-null float64
complaints            3469 non-null float64
dtypes: float64(4), int64(5), object(1)
memory usage: 298.1+ KB

In [7]:
#a.to_csv('dataforvisual2.csv',encoding='utf-8',index=False)
price_group=a[['zipcode','price']].groupby('zipcode').mean()
ddf=pd.DataFrame(price_group).reset_index()

In [8]:
new=pd.get_dummies(a['zipcode']).drop(columns=['10019'])
newdf=pd.concat([a,new],sort=False,axis=1).drop(columns=['zipcode'])
newdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3469 entries, 3 to 5503
Data columns (total 39 columns):
bath                  3469 non-null int64
bed                   3469 non-null int64
latitude              3469 non-null float64
logitude              3469 non-null float64
price                 3469 non-null int64
size                  3469 non-null int64
year built            3469 non-null int64
distance to subway    3469 non-null float64
complaints            3469 non-null float64
10001                 3469 non-null uint8
10002                 3469 non-null uint8
10003                 3469 non-null uint8
10007                 3469 non-null uint8
10009                 3469 non-null uint8
10011                 3469 non-null uint8
10012                 3469 non-null uint8
10013                 3469 non-null uint8
10014                 3469 non-null uint8
10016                 3469 non-null uint8
10017                 3469 non-null uint8
10018                 3469 non-null uint8
10021                 3469 non-null uint8
10022                 3469 non-null uint8
10023                 3469 non-null uint8
10024                 3469 non-null uint8
10025                 3469 non-null uint8
10026                 3469 non-null uint8
10027                 3469 non-null uint8
10028                 3469 non-null uint8
10030                 3469 non-null uint8
10031                 3469 non-null uint8
10032                 3469 non-null uint8
10034                 3469 non-null uint8
10036                 3469 non-null uint8
10037                 3469 non-null uint8
10038                 3469 non-null uint8
10039                 3469 non-null uint8
10044                 3469 non-null uint8
10065                 3469 non-null uint8
dtypes: float64(4), int64(5), uint8(30)
memory usage: 372.6 KB

In [7]:
newdf.to_csv('mldata_binary.csv',index=False)

# Data for visual

In [9]:
df=pd.read_csv('~/Desktop/da_project/csv_file/dataset.csv',encoding = "ISO-8859-1")
a=df.drop(columns=['address','description','page_url','rent','sale']).replace('Shared',np.nan).replace('--',np.nan).replace('No Data',np.nan).dropna()
a['zipcode']=a['zipcode'].astype(int).astype(str)
a.replace('nan',np.nan)
a['year built']=a['year built'].astype(float)
a['bed']=a['bed'].astype(int)
a['bath']=a['bath'].astype(int)
a['size']=a['size'].astype(float)
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4077 entries, 4 to 6367
Data columns (total 11 columns):
Unnamed: 0      4077 non-null int64
Neighborhood    4077 non-null object
Unnamed: 0.1    4077 non-null int64
bath            4077 non-null int64
bed             4077 non-null int64
latitude        4077 non-null float64
logitude        4077 non-null float64
price           4077 non-null float64
size            4077 non-null float64
year built      4077 non-null float64
zipcode         4077 non-null object
dtypes: float64(5), int64(4), object(2)
memory usage: 382.2+ KB

In [18]:
a.to_csv('data for visual.csv',encoding='utf-8',index=False)
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4077 entries, 4 to 6367
Data columns (total 11 columns):
Unnamed: 0      4077 non-null int64
Neighborhood    4077 non-null object
Unnamed: 0.1    4077 non-null int64
bath            4077 non-null int64
bed             4077 non-null int64
latitude        4077 non-null float64
logitude        4077 non-null float64
price           4077 non-null float64
size            4077 non-null float64
year built      4077 non-null float64
zipcode         4077 non-null object
dtypes: float64(5), int64(4), object(2)
memory usage: 382.2+ KB